// Placeholder to allow overriding predefined variables smoothly.

$baseurl: "/blog";

// Typography

// $base-font-family: 'vollkorn', serif;
$base-font-family: 'NKsans', 'vollkorn', sans-serif;
$headings-font-family: 'NK', serif;
// $base-font-size:   1;
$base-font-weight: 400;
// $base-line-height: 20px;